<!-- views/index.ejs -->
<%- include('partials/header') %>


  <main>
    <%- include('home-banner') %>
    <%- include('home-banner-below') %>
    <%- include('product-section') %>
    <%- include('best-sellers') %>
    <%- include('new-arrival') %>

   
  </main>

  <%- include('partials/footer') %>
